<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>国产搜索</title>
	<style rel="stylesheet">
		.container {
			width: 100%;
			height: 600px;
		}
	</style>
</head>
<body>
	<!--<h1>国产搜索</h1>-->
	<input type="text">
	<button id="search">搜索</button>
	<div class="container"></div>
	<script>
		var search = document.querySelector('#search');
		var input = document.querySelector('input');
		var container = document.querySelector('.container');
		search.addEventListener('click', async function (e) {
			container.innerHTML = await fetch(`/search?str=${input.value}`, {method: 'get'})
				.then(function(response) {
					return response.text();
				});
			container.querySelectorAll('a').forEach(item => {
				item.href = `https://www.google.com${item.href}`;
				item.setAttribute('target', '_blank');
			});
		});
	</script>
</body>
</html>
