<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>国产搜索</title>
	<style rel="stylesheet">
		.container {
			width: 100%;
			height: auto;
		}
		#pagination li {
			display: inline-block;
			cursor: pointer;
			color: #4285F4;
			font-size: 18px;
			margin-right: 5px;
		}
		#pagination li.active {
			color: #000;
			pointer-events: none;
		}
		h1 {
			display: inline-block;
		}
		.help {
			color: red;
			font-size: 13px;
		}
	</style>
</head>
<body>
	<h1>国产搜索</h1><span class="help">（拳打搜狗，脚踢百度...求融资，500块就好）</span><br>
	<input type="text">
	<button id="search">搜索</button>
	<div class="container"></div>
	<ul id="pagination"></ul>

	<script>
		let search = document.querySelector('#search');
		let input = document.querySelector('input');
		let container = document.querySelector('.container');
		let pagination = document.querySelector('#pagination');
		const queryInfo = {
			str: '',
			pageIndex: 1
		};

		const init = function () {
			const hash = window.location.hash;
			if (hash) {
				const historyInfo = JSON.parse(window.decodeURIComponent(hash).substr(1));
				input.value = historyInfo.str || '';
				queryInfo.pageIndex = historyInfo.pageIndex || 1;
				searchFn();
			}
		};

		const searchFn = async function () {
			if (queryInfo.str !== input.value) {
				queryInfo.str = input.value;
				queryInfo.pageIndex = 1;
			}
			let json = await fetch(`/search?str=${queryInfo.str}&pageIndex=${queryInfo.pageIndex}`, {method: 'get'})
				.then(function(response) {
					return response.json();
				});
			container.innerHTML = json.result;
			container.querySelectorAll('a').forEach(item => {
				item.href = window.decodeURIComponent(item.href.replace(/\S+\?q=([^&]+)\S+/i, '$1'));
				item.setAttribute('target', '_blank');
			});
			generatePagination(json.total);
			window.location.hash = window.encodeURIComponent(JSON.stringify(queryInfo));
		};

		const changePage = function (e) {
			queryInfo.pageIndex = e.target.innerText;
			searchFn();
		};

		const generatePagination = function (total) {
			if (!total) {
				return;
			}
			const max = Math.ceil((+total) / 10);
			const cur = +queryInfo.pageIndex;
			let start = 1,
				end = 10;

			if (max <= 11) {
				end = max;
			} else if (cur - 5 > 0) {
				if (cur + 5 < max) {
					start = cur - 5;
					end = cur + 5;
				} else {
					start = max - 10;
					end = max;
				}
			}
			let html = '';
			for (let i = start; i <= end; i += 1) {
				html += `<li${i === +cur ? ' class="active"' : ''}>${i}</li>`;
			}
			pagination.innerHTML = html;
		};

		search.addEventListener('click', searchFn);

		input.addEventListener('keyup', function (e) {
			if (e.key === 'Enter') {
				searchFn();
			}
		});

		pagination.addEventListener('click', changePage)

		init();
	</script>
</body>
</html>
